.map_timeline {
  display: flex;
  flex-direction: row;
  resize: both;
  min-height: 100px;
  height: 100%;
}

.resizer {
  width: 7px;
  cursor: ew-resize;
  background-color: gray;
}

#timeline {
  width: 70%;
  height: 600px;
}

#map {
  width: 30%;
  min-height: 100px;
}