.map_timeline {
  display: flex;
  flex-direction: row;
  resize: both;
  min-height: 100px;
  height: 100%;
}

.resizer {
  width: 7px;
  cursor: ew-resize;
  background-color: gray;
}

#timeline {
  width: 70%;
  height: 600px;
}

#map {
  width: 30%;
  min-height: 100px;
}

.leaflet-control-layers-toggle {
	background-image: url("../symbols/layers.png");
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url("../symbols/layers-2x.png");
	background-size: 26px 26px;
	}

.leaflet-default-icon-path { 
	background-image: url("../images/marker-icon.png");
	}